Repository py-mine/mcproto, pull requests merged in 2023-02, with the labels that each got.

#2 Add sphinx
  .flake8
  .github/workflows/validation.yml
  .gitignore
  .readthedocs.yaml
  README.md
  changes/2.docs.md
  docs/api/basic.rst
  docs/api/internal.rst
  docs/conf.py
  docs/examples/index.rst
  docs/examples/status.rst
  docs/index.rst
  docs/pages/code-of-conduct.rst
  docs/pages/contributing.rst
  docs/pages/faq.rst
  docs/pages/installation.rst
  poetry.lock
  pyproject.toml
Labels: a: documentation, p: 1 - high, t: feature

#28 Improve documentation style
  LICENSE-THIRD-PARTY.txt
  changes/28.docs.md
  docs/_static/extra.css
  docs/conf.py
  poetry.lock
  pyproject.toml
Labels: a: documentation, p: 2 - normal, t: feature

#27 Add sphinx towncrier extension and link changelog
  changes/27.docs.md
  docs/conf.py
  docs/index.rst
  docs/pages/changelog.rst
  poetry.lock
  pyproject.toml
Labels: a: documentation, p: 2 - normal, t: feature

#38 Use `semantic-version` instead of our `SemanticVersion`
  changes/38.internal.md
  mcproto/utils/deprecation.py
  mcproto/utils/version.py
  poetry.lock
  pyproject.toml
  tests/mcproto/utils/test_version.py
Labels: p: 3 - low, t: rewrite, a: internal

#37 Properly define the height of the py-mine org logo
  README.md
Labels: t: bug, a: documentation, p: 2 - normal, skip-fragment-check

#34 Add version guarantees page
  LICENSE-THIRD-PARTY.txt
  changes/34.docs.md
  docs/index.rst
  docs/pages/changelog.rst
  docs/pages/version_guarantees.rst
Labels: a: documentation, p: 2 - normal, t: feature

#39 Replace `MCStatus` header with `mcproto`
  README.md
Labels: t: bug, a: documentation, p: 2 - normal, skip-fragment-check

#40 Move Code of Conduct into docs
  .github/CODEOWNERS
  CODE-OF-CONDUCT.md
  changes/40.docs.md
  docs/pages/code-of-conduct.rst
Labels: a: documentation, p: 2 - normal, t: rewrite

#35 Increase test coverage
  changes/35.internal.md
  mcproto/packets/v757/status/status.py
  pyproject.toml
  tests/mcproto/packets/v757/handshaking/__init__.py
  tests/mcproto/packets/v757/handshaking/test_handshake.py
  tests/mcproto/packets/v757/status/__init__.py
  tests/mcproto/packets/v757/status/test_ping.py
  tests/mcproto/packets/v757/status/test_status.py
  tests/mcproto/protocol/test_base_io.py
  tests/mcproto/protocol/test_utils.py
Labels: t: enhancement, p: 2 - normal, a: dependencies
