Repository py-mine/mcproto, pull requests merged in 2023-06, with the labels that each got.

#54 Add login state packets
  changes/54.feature.md
  mcproto/packets/v757/login/__init__.py
  mcproto/packets/v757/login/login.py
  mcproto/types/__init__.py
  mcproto/types/abc.py
  mcproto/types/v757/__init__.py
  mcproto/types/v757/chat.py
  mcproto/types/v757/uuid.py
  tests/mcproto/packets/v757/login/__init__.py
  tests/mcproto/packets/v757/login/test_login.py
  tests/mcproto/types/v757/__init__.py
  tests/mcproto/types/v757/test_chat.py
  tests/mcproto/types/v757/test_uuid.py
Labels: p: 2 - normal, t: feature, a: packets, a: API

#113 Make sure TCP connections end gracefully
  changes/113.bugfix.md
  mcproto/connection.py
  tests/mcproto/test_connection.py
Labels: t: bug, p: 1 - high, a: protocol

#114 Use latest poetry version in workflows
  .github/workflows/changelog-fragment.yml
  .github/workflows/prepare-release.yml
  .github/workflows/publish.yml
  .github/workflows/unit-tests.yml
  .github/workflows/validation.yml
  changes/114.internal.md
Labels: t: enhancement, p: 2 - normal, a: CI

#122 Enable version selection in docs
  .readthedocs.yaml
Labels: t: bug, a: documentation, p: 2 - normal, skip-fragment-check

#41 Rename `mcproto.packets.abc` to `mcproto.packets.packet`
  LICENSE-THIRD-PARTY.txt
  README.md
  changes/41.breaking.md
  mcproto/packets/__init__.py
  mcproto/packets/interactions.py
  mcproto/packets/map.py
  mcproto/packets/packet.py
  mcproto/packets/v757/handshaking/handshake.py
  mcproto/packets/v757/login/login.py
  mcproto/packets/v757/status/ping.py
  mcproto/packets/v757/status/status.py
Labels: p: 3 - low, z: breaking, t: rewrite, a: API

#141 Move the Installation page from README to docs installation page
  README.md
  changes/141.docs.md
  docs/pages/installation.rst
Labels: a: documentation, t: enhancement, p: 2 - normal

#140 Remove left over debug file creation
  docs/conf.py
Labels: t: bug, a: documentation, p: 2 - normal, skip-fragment-check

#143 Update docs.py
  docs/conf.py
Labels: a: documentation, p: 2 - normal, skip-fragment-check, t: optimization

#144 Add internal attributetable extension (from discord.py)
  LICENSE-THIRD-PARTY.txt
  changes/144.docs.md
  docs/_static/extra.css
  docs/_static/extra.js
  docs/conf.py
  docs/extensions/attributetable.py
Labels: a: documentation, p: 2 - normal, t: feature
