Repository py-mine/mcproto, pull requests merged in 2024-04, with the labels that each got.

#258 Fix readthedocs build
  .readthedocs.yaml
  changes/258.internal.md
Labels: a: documentation, p: 1 - high, a: CI, t: regression

#259 Merge passing dependabot PRs automatically
  .github/workflows/dependabot-auto-merge.yml
  changes/259.internal.md
Labels: p: 3 - low, t: feature, a: CI, a: dependencies

#131 Enforce PEP 698 (override decorator)
  changes/131.internal.md
  docs/conf.py
  docs/extensions/attributetable.py
  mcproto/auth/account.py
  mcproto/auth/microsoft/oauth.py
  mcproto/auth/microsoft/xbox.py
  mcproto/auth/msa.py
  mcproto/auth/yggdrasil.py
  mcproto/buffer.py
  mcproto/connection.py
  mcproto/multiplayer.py
  mcproto/packets/handshaking/handshake.py
  mcproto/packets/login/login.py
  mcproto/packets/packet.py
  mcproto/packets/status/ping.py
  mcproto/packets/status/status.py
  mcproto/types/chat.py
  mcproto/types/uuid.py
  pyproject.toml
  tests/helpers.py
  tests/mcproto/protocol/helpers.py
  tests/mcproto/protocol/test_base_io.py
  tests/mcproto/test_connection.py
Labels: p: 3 - low, a: internal, t: optimization

#274 Replace isort and black with ruff
  .github/workflows/validation.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  changes/274.internal.md
  mcproto/encryption.py
  poetry.lock
  pyproject.toml
  tests/mcproto/test_connection.py
Labels: t: enhancement, p: 2 - normal, a: CI, a: dependencies, a: internal

#282 Update dependencies to run on Python 3.12
  poetry.lock
Labels: p: 1 - high, a: dependencies, skip-fragment-check
